%script{type: 'text/javascript', 'data-app-id' => "gYbe7hXinXHFOERJGfAe6g", src:"https://assets.yammer.com/platform/yam.js"}

%h1 Anpikun

.email-form
  = form_tag do
    = text_field_tag :email

    = submit_tag 'search'

  = @body.data.items if @body

#embedded-feed

:javascript
  yam.connect.embedFeed(
   {
     container: '#embedded-feed',
     network: 'sp-nomad'
   }
  );
