@charset 'UTF-8'
@import 'mixin'

*
  font-family: 'Lato', sans-serif

body
  background: url('common-bg.png')
  color: #535353

  .search-form
    width: 600px
    margin: 0 auto
    padding: 20px 10px
    overflow: hidden
    margin-bottom: 20px

input[type="text"]
  width: 250px
  font-size: 18px
  +border-radius(4px)
  margin: 0 auto

.header
  h1
    font-size: 25px
    margin: 0 auto
    width: 600px
    padding: 20px 10px
    overflow: hidden

