@charset 'UTF-8'
@import 'mixin'

*
  font-family: 'Lato', sans-serif

body
  background: url('common-bg.png')
  color: #535353

  .google-calendar
    margin-bottom: 20px
  .search-form
    width: 400px
    margin: 0 auto
    margin-bottom: 20px
    .btn
      margin-top: -8px
      font-weight: bold
  .body
    width: 300px
    margin: 0 auto

input[type="text"]
  width: 260px
  font-size: 18px
  +border-radius(4px)
  margin: 0 auto

.header
  h1
    font-size: 25px
    margin: 0 auto
    width: 600px
    padding: 20px 10px
    overflow: hidden
    i
      font-size: 18px
      padding-top: 8px

.yammer
  width: 600px
  margin: 0 auto
